@using WebApplication1.Models.Product;
@model List<Product>



@*@foreach(Product product in Model)
{
    <p>
        @product.Name
        @product.Id
        @product.Price
        @product.ProductCount
    </p>
}*@

@*
@{
    Layout = "_Layout";
}



<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>*@